.container-chat {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container-contact-list {
    background-color: #1E1E1E;
    flex: 1;
    padding: 10px;
}

.container-chat-message {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #535353;
}

.chat-header-user {
    background-color: #373737;
    color: white;
    padding: 10px;
    padding-left: 15px;
    display: flex;
}

.container-chat-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #535353;
}

.send-message-bar {
    background-color: #373737;
    padding: 10px 20px;
    display: flex;
    box-shadow: 2px 1px 3px 1px #0003;
    border-top: 1px solid #ddd;
}

.input-message {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #444444;
    box-shadow: inset 0 0 1px 1px #0003;
    color: white;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.654);
}

.user-info-chat-bar {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-user {
    display: flex;
    flex-direction: column;

}

.messages-container {
    display: ;
}